
table {
    border-collapse:collapse;
    margin-left: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    opacity: .8;
    box-shadow: 2px 2px 2px #333;
    box-shadow: 16px;
    text-align: center;
  }
  
  .hole{
    background-color: darkgray;
  }
