<ion-content [fullscreen]="true">

  <ion-card color="success">
    <ion-card-header>
      <ion-text style="text-align: center;">
        <h1><ion-icon name="golf-outline"></ion-icon> HOLE {{game.holeNumber}}</h1>
      </ion-text>
    </ion-card-header>
      <ion-card-content>
        <ion-button (click)="viewLeaderboard()" expand="block" color="dark" fill="outline">VIEW LEADERBOARD<ion-icon name="podium-outline" style="padding-left: 10px;"></ion-icon></ion-button>
      </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col><ion-button expand="block" *ngIf="game.holeNumber!=1" (click)="lastHole()" color="light"><ion-icon name="chevron-back-outline"size="large"></ion-icon></ion-button></ion-col>
      <!-- <ion-col>
        <div id="container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Golf_ball.svg/400px-Golf_ball.svg.png?20221009020357">
          <div id="example"><b><h1 style="text-align: center;">{{game.holeNumber}}</h1></b></div>
        </div>
      </ion-col> -->
      <ion-col><ion-button expand="block" *ngIf="game.holeNumber!=18" (click)="nextHole()" color="light"><ion-icon name="chevron-forward-outline" size="large"></ion-icon></ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let player of game.players">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>{{player.name}}</h1>
        </ion-label>
        <ion-label slot="end">
          <ion-icon name="chevron-up-outline" (click)="incrementScore(player.id)" size="large"/>
        </ion-label>
        <ion-label slot="end">
          <h1>{{player.holeScore[game.holeNumber-1]}}</h1>
        </ion-label>
        <ion-label slot="end">
          <ion-icon name="chevron-down-outline" (click)="decrementScore(player.id)" size="large"/>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="newGame()">New Game</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="finishGame()">Finish Game</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
