// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@font-face {
    font-family: 'My Custom Font';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}
  
:root {
--ion-font-family: 'My Custom Font';
}